body {
    position: relative;
    background-image: url(../../../../public/assets/pexels-pavel-danilyuk-8001056.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Inter", serif;
    overflow-y: scroll;
    background-color: #000;
}

.MainSection{
    margin-top: 75px;
    margin-left: 145px;
}


.counters {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #fff;
    font-size: 18px;
    margin-bottom: 100px;
    margin-top: 34px;
}

.counter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    font-size: 24px;
    font-weight: 500;
}



.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 550px; /* Limita a largura para evitar que o espaço entre os botões seja grande */
}

.counter-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.counter-value {
    font-size: 80px;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.add-button,
.remove-button {
    border-radius: 100px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.4s;
    cursor: pointer;
}

.add-button {
    background-color: #fff;
    transition: all linear 0.4s;
}

.add-button:hover {
    background-color: #ffffffbd;
}

.remove-button {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all linear 0.4s;
}

.remove-button:hover {
    background-color: #ffffff57;
}

button {
    border: none;
}



.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .input- {
        display: flex;
        flex-direction: column;
        gap: 12px;

        input {
            all: unset;
            width: 100%;
            height: 40px;
            color: #fff;
            font-size: 34px;
            opacity: 1;
            font-weight: 500;
        }
    }
}

.input-{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 34px;
    opacity: 1;
    font-weight: 500;
}


.infoBox {
    position: absolute;
    right: 144px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 34px;
    background-color: #f4f4f4;
    border-radius: 34px;
    font-size: 16px;
    width: 500px;
}

.infoBox .textSesion {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.infoBox h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.infoBox p {
    margin: 0;
    font-size: 80px;
    color: #000;
    font-weight: 600;
    border-bottom: #8A37F6 solid 3.4px;
}

.infoBox .button-container {
    display: flex;
    flex-direction: row;
    gap: 14px;
    justify-content: center;
    align-items: center;
}

.infoBox .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 18px 20px;
    border-radius: 100px;
    font-size: 16px;
    color: #fff;
    transition: all linear 0.4s;
    width: 295px; 
    height: 60px; 
}

.infoBox .button.empty {
    background-color: gray;
    opacity: 0.5;
}

.infoBox .button.filled {
    background-color: #8A37F6;
    cursor: pointer;
}

.infoBox .button.filled:hover {
    background-color: #6525b9;
}

#verOutrosPlanos {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}