.lowcontainer {
    --color-white-100: #fff;
    --color-white-60: rgba(255, 255, 255, 0.6); 
    --color-white-50: rgba(255, 255, 255, 0.5); 
    --color-white-30: rgba(255, 255, 255, 0.3); 
    --color-white-20: rgba(255, 255, 255, 0.2); 
    --color-white-5: rgba(255, 255, 255, 0.05); 
    --color-purple: #8A37F6;
    --color-black-100: #000;
    --color-black-20: rgba(0, 0, 0, 0.2); 
    --color-black-30: rgba(0, 0, 0, 0.3); 

    z-index: 2;
}

.lowcontainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lowcontainer {
    position: fixed; 
    bottom: 54px;    
    left: 54px;      
    right: 54px;    
    height: auto;    
    display: flex;  
    flex-direction: row;
    padding: 20px;
    border-radius: 10px; 
}

.leftTEXT h2 {
    color: var(--color-white-30);
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.leftTEXT h1 {
    color: var(--color-white-100);
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.leftTEXT p {
    color: var(--color-white-60);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.leftTEXT {
    display: flex;
    flex-direction: column;
    width: 673px;
    height: auto;
}

.btnconfira button {
    display: none;
}

@media (max-width: 770px) {
    
    .lowcontainer {
        flex-direction: column;
        align-items: left;
        
    }

    .leftTEXT {
        width: 100%;
    }

    .leftTEXT h2 {
        font-size: 36px;
    }

    .leftTEXT h1 {
        font-size: 64px;
    }

    .leftTEXT p {
        font-size: 20px;
    }

    .leftTEXT {
        margin-bottom: 20px;
    }

    .btnconfira button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
    gap: 10px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: all linear 0.4s;
    width: 130px; 
    height: auto; 
    background-color: #8A37F6;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    }
}
