@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.navbar {
    --color-white-100: #fff;
    --color-white-60: rgba(255, 255, 255, 0.6); /* 60% de opacidade */
    --color-white-50: rgba(255, 255, 255, 0.5); /* 50% de opacidade */
    --color-white-30: rgba(255, 255, 255, 0.3); /* 30% de opacidade */
    --color-white-20: rgba(255, 255, 255, 0.2); /* 20% de opacidade */
    --color-white-5: rgba(255, 255, 255, 0.05); /* 5% de opacidade */
    --color-purple: #8A37F6;
    --color-black-100: #000;
    --color-black-20: rgba(0, 0, 0, 0.2); /* 20% de opacidade */
    --color-black-30: rgba(0, 0, 0, 0.3); /* 30% de opacidade */
    --color-white-F4: rgba(244, 244, 244, 1); /* F4F4F4 */

    font-family: "Inter", serif;

    z-index: 2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    text-decoration: none;
}

.Nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.Nav-links div {
    backdrop-filter: blur(100px);
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-white-100);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
    background-color: var(--color-black-20);
    border-radius: 100px;
    transition: color 0.6s, background-color 0.6s;
}

.Nav-links div:hover {
    background-color: #0000004f;
}

.activeLink {
    background-color: #000 !important; 
}

.a-home {
    background-color: var(--color-black-100) !important;
}

.a-home:hover {
    background-color: var(--color-white-100) !important;
    color: var(--color-black-100) !important;
}

.Login--Register a {
    text-decoration: none;
    margin: 14px;
    padding: 18px 24px;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-black-100);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: var(--color-white-100);
    border-radius: 100px;
    transition: color 0.6s, background-color 0.6s;
}

.Login--Register a:hover {
    background-color: var(--color-black-100);
    color: var(--color-white-100);
    transition: color 0.6s, background-color 0.6s;
}

.a-register {
    background-color: var(--color-purple) !important;
    color: white !important;
}

.a-register:hover {
    background-color: var(--color-white-100) !important;
    color: var(--color-black-100) !important;
}

.Menu-mobile {
    display: none;
}

.Nav-links, .Login--Register {
    display: none;
}

.menuButton {
    display: none;
}

@media (max-width: 999px) {
    .Menu-mobile {
        display: block;
        
    }

    .menuButton {
        display: flex;
        padding: 14px 20px;
        text-decoration: none;
        cursor: pointer;
        color: var(--color-white-100);
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.5px;
        background-color: var(--color-black-20);
        border-radius: 100px;
        transition: color 0.6s, background-color 0.6s;
        border: none;
        align-items: center;
        justify-content: center;
    }

    .menuButton:hover {
        background-color: var(--color-white-100);
        color: var(--color-black-100);
        transition: color 0.6s, background-color 0.6s;
    }
}

@media (min-width: 999px) {
    .Nav-links, .Login--Register {
        display: flex;
    }
}

.mobileMenuContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(0px);
    background-color: var(--color-white-F4) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    z-index: 1000;
    transition: all linear 0.3s;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.mobileMenuContainer::before {
    transform: translateX(1000px);
    transition: all linear 0.3s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f4;
    z-index: -1;
    pointer-events: none;
}

body.menu-open {
    overflow: hidden;
}

.mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subMenuButton {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black-100);
    cursor: pointer;
    margin: 10px 0;
    transition: color 0.3s;
}

.subMenuButton:hover {
    color: var(--color-purple);
}

.subLinks {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.subLinks a {
    color: var(--color-black-100);
    margin: 5px 0;
}

.closeButton {
    position: absolute;
    background-color: var(--color-white-100) !important;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: var(--color-black-100);
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s;

    margin: 14px;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: var(--color-black-20);
    border-radius: 100px;
}

.closeButton span {
    padding-left: 18px;
}

.closeButton:hover {
    color: var(--color-purple);
}
